body {
	max-width: 1200px;
    color: #1a1a1a;
    line-height: 1.6;
    margin: 40px auto;
    font-family: sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
	border-bottom: 1px solid #696969;
}

h2 {
	color: #212121;
	border-bottom: 1px solid #696969;
    padding-bottom: 4px;
    margin: 26px 0 20px 0;
}

h3 {
    color: #373737;
    margin: 20px 0 10px;
}

blockquote{
	background: #e4f1ff;
    border-left: 5px solid #d5dff5;
    padding: 8px 26px;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

ul{
    margin: 15px 0;
}

li {
    margin-bottom: 10px;
}

.image {
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}

a {
	color: red;
}

a:hover{
	opacity: .4;
}